[submodule "client-mu-plugins/vip-go-wpcom-compat"]
	path = client-mu-plugins/vip-go-wpcom-compat
	url = https://github.com/Automattic/vip-go-wpcom-compat.git
[submodule "plugins/polldaddy"]
	path = plugins/polldaddy
	url = https://github.com/Automattic/polldaddy-plugin.git
[submodule "plugins/syntaxhighlighter"]
	path = plugins/syntaxhighlighter
	url = git@github.com:Automattic/syntaxhighlighter.git
[submodule "plugins/display-posts-shortcode"]
	path = plugins/display-posts-shortcode
	url = git@github.com:billerickson/display-posts-shortcode.git
