.s-button + .s-button {
	margin-left: .3125rem;
}

.s-button {
	transition: all .15s linear;
	font-size: .875rem;
	line-height: 1.5;
	color: #f2f2f2;
	font-family: SophosSansMedium, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	padding: .3125rem 1.25rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border: 1px solid #007ac6;
	border-radius: 3px;
	background-color: #007ac6;
	text-shadow: none;
}

.s-button:hover {
	text-decoration: none;
	color: #fff;
	border-color: #003b60;
	background-color: #003b60;
}

.s-button--wide {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}

.s-button--small {
	font-size: .75rem;
}

.s-button--orange {
	color: #000;
	border-color: #f38332;
	background-color: #f38332;
}

.s-button--orange:hover {
	color: #fff;
	border-color: #e5680d;
	background-color: #e5680d;
}

.s-ad-intercept-x-v2 {
	font-size: 1rem;
	line-height: 1.5;
	color: #242629;
	font-family: SophosSansRegular, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	max-width: 769px;
	margin: 15px auto;
	padding: 40px 30px 35px;
	transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	text-align: center;
	background: #2474be;
	background: radial-gradient(circle, #2474be 0, #0a1a35 100%);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	box-shadow: 0 0 0 0 0 transparent;
}

.s-ad-intercept-x-v2__title {
	font-size: 1.625rem;
	line-height: 1.125;
	margin-bottom: 4px;
	color: #fff;
}

.s-ad-intercept-x-v2__text {
	font-family: SophosSansLight, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: .875rem;
	color: #fff;
}

.s-ad-intercept-x-v2__action {
	margin-top: 15px;
}

.s-ad-intercept-x-v2__action .s-button {
	color: #fff;
}

.s-ad-intercept-x-v2__link-wrapper {
	text-decoration: none;
}

.s-ad-intercept-x-v2__link-wrapper:hover .s-ad-intercept-x-v2 {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.s-ad-intercept-x-v2__image-frame {
	transition: all .25s linear;
	margin-top: 20px;
	margin-bottom: -50px;
	margin-bottom: -7%;
}

.s-ad-intercept-x-v2__image-xg-450 {
	transition: all .25s linear;
	max-width: 100%;
}

.s-ad-intercept-x-v2--face {
	background-position: bottom;
	background-size: cover;
	background-color: #2654b3;
}

@media (min-width: 769px) {

.s-ad-intercept-x-v2 {
	padding-top: 25px;
	padding-bottom: 20px;
}

.s-ad-intercept-x-v2__text {
	position: absolute;
	right: 30px;
	bottom: 20px;
	left: 30px;
	margin-right: 175px;
	text-align: right;
}

.s-ad-intercept-x-v2__action {
	position: absolute;
	right: 30px;
	bottom: 15px;
	margin-top: 0;
}

.s-ad-intercept-x-v2__image-frame {
	margin-bottom: -1%;
}

.s-ad-intercept-x-v2__image-xg-450 {
	max-width: 380px;
}

.s-ad-intercept-x-v2--face {
	min-height: 140px;
	background-image: url("https://sophosnews.files.wordpress.com/2019/11/ad-intercept-x-face-horizontal.jpg");
}

.s-ad-intercept-x-v2--face .s-ad-intercept-x-v2__title {
	position: absolute;
	top: 40%;
	right: 30px;
	left: 30px;
	transform: translateY(-50%);
}

}

@media (max-width: 768px) {

.s-ad-intercept-x-v2--face {
	padding-top: 90px;
	background-image: url("https://sophosnews.files.wordpress.com/2019/11/ad-intercept-x-face.jpg");
}

.s-ad-intercept-x-v2--face .s-ad-intercept-x-v2__title {
	margin-bottom: 30px;
}

.s-ad-intercept-x-v2--face .s-ad-intercept-x-v2__text {
	max-width: 280px;
	margin-right: auto;
	margin-left: auto;
}

}

